@using DocsWASM.Client.AppState;
@inject HttpClient Http
@using DocsWASM.Shared
@inject Session _Session
@inject UserTypes _UserTypes
@using static DocsWASM.Shared.TypeOfUsersModels;

@using Microsoft.AspNetCore.Components;
@using System.Text.Json;
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    protected override async Task OnInitializedAsync()
    {
        _UserTypes.UserTypeByteNameimgHTML = await Http.GetFromJsonAsync<Dictionary<byte, TypeOfUsers>>("fetch/typeofusers");
        HttpResponseMessage response = await Http.GetAsync("account/my");
        if (response.IsSuccessStatusCode)
        {
            string responseString = await response.Content.ReadAsStringAsync();
            AccountModels.User userObj = JsonSerializer.Deserialize<AccountModels.User>(responseString);
            _Session.user = userObj;
        }


    }

    /*protected override async Task OnParametersSetAsync()
    {



    }*/
}

